html
{
font-family:  'Lucida Sans', Arial, sans-serif
}

* {
    box-sizing: border-box;
  }

  button
  {
    font-family:  'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    border-radius: 2px;
    border-width: 1px;
    background-color: #E0E0E0;
    margin:5px;

    padding-top: 2px;
    padding-right: 7px;
    padding-bottom: 2px;
    padding-left: 7px;
  }
  button:hover{background-color:#C0C0C0;}
  button:focus{background-color:#707070;}

  button.hovclick_lightblue
  {
    transition: 0.1s;
  }

  button.hovclick_lightblue:hover
  {
    background-color: #00A3ff;
    color:#ffffff;
  }

  button.hovclick_lightblue:focus
  {
    background-color: #0082de;;
    color:#ffffff;
  }

.width1
{
width: 1px;
}
.width2
{
width: 2px;
}
.cflex
{
   display: flex; 
   flex-direction: column;
}
.rflex
{
   display: flex; 
   flex-direction: row;
}
.spread
{
    justify-content: space-between;
}

.centercontent
{
    align-items: center;
    justify-content: center;
}

.filly
{
    height: 100%;
}
.fillx
{
    width: 100%;
}

.b_black
{
    background-color: black;
}

.b_lightblue
{
    background-color: #00A3ff;
}

.b_gray
{
    background-color: #707070;
}

.b_white
{
    background-color: white;
}
.tx_white
{
    color: white;
}

.noborder {
    border-style: none;
  }

.nopadding
{
    padding: 0%;
}
.nomargin
{
    margin: 0%;
}
.sticky 
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

table.stickyhead
{
    border-collapse: separate;
    border-spacing: 0;
}
table.stickyhead > thead
{
    position: sticky;
    top: 0;
    background-color: white;
}

table.stickyhead>thead th:not:first-child,
table.stickyhead>tr td:not:first-child
{
    border-left: 0px;
}

.xscroll
{
    overflow-x: auto;
}
.yscroll
{
    overflow-y: auto;
}

.scroll
{
    overflow: auto;
}

.noxscroll
{
    overflow-x: hidden;
}
.noyscroll
{
    overflow-y: hidden;
}
.noscroll
{
    overflow: hidden;
}

.basicborder
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

td, th {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
  
table {
    border-collapse: collapse;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707070;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }