#leftBudgetContainer
{
    width: 15%;/*b1*/
}
#navbar
{
    height:7%;/*a1*/
}
#mainbody
{
    height:93%;/*a2*/
    width:100%;
}
#datapage
{
    width:85%;/*b2*/
}
#topdatacontainer
{
    height:30%;/*c1*/
}
#tablecontainer
{
    height:70%;/*c2*/
}
#table
{
    position: relative;
}

#addbox
{
    background-color: white;
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-top: 5%;
}
#addbudgetbox
{
    display:none;
}
.overlayx
{
    height: 3rem;
    width: 3rem;
}

.leftbudget
{
    height: 10%;
    min-height: 10%;
}